@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

.recipes-list-items{
    display: grid;
    grid-template-columns: repeat(4, auto);
}


header{
    border-bottom: 1px solid black;
}


body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

main{
    padding: 16px 16px 32px 16px;
}

main > h1{
    color: #146152;
}

footer{
    padding: 24px;
    position: absolute;
    width: 100%;
    background-color: #B4CF66;
}

img{
    height: 200px;
}

nav{
    background-color: #FF5A33;
    color: black;
    border-bottom: 1px;
    padding: 16px;
}

h3 > a{
    color: #44803F;
}

a:hover{
    color: green;
    text-decoration: none;
}

a:link{
    text-decoration: none;
}

nav > a{
    color: white;
}

tr:nth-child(even){
    background-color: rgb(228, 225, 225);
}
